.wrapper {
    background-color: #FFFFFF;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 165px;
    padding-left: 165px;
    align-items: center;
}

.skilled-text {
    /* skilled */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 45px;
margin-top: 24.75px;
/* 13183F */
color: #13183F;

}

.get-started {
    width: 167px;
    height: 56px;
    border-radius: 28px;
    background: #13183F;
    border-radius: 28px;
    display: flex;
    margin-top: 24px;
    margin-right: 165px;
  
}

.get-started-inner-text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 14px 31px 14px 32px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.inner-contaier {
    margin-top: 252px;
    margin-left: 165px;
    width: 457px;
    height: 359px;
    
}

.maximize-skill-text {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 71px;
color: #13183F;
}

.courses-inner-text {
    /* Body M */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* 83869A */

color: #83869A;
}

.get-started-btn {
    width: 167px;
    height: 63px;
    border-radius: 31.5px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 40px;
}

.courses-text{
}

.image-hero-container {
    position: absolute;
    right: -169px;
    top: -110px;
}

.image-hero-desctop {
    
}


@media(max-width: 1445px) {
    .image-hero-container{
       
        
    }
}

@media(max-width: 769px) {

}

@media(max-width: 376px){

}