
[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
}

.wrapper {
    display: flex;
	overflow-x: hidden;
    flex-direction: column;
    min-height: 100%;
}

.header{
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    padding: 24px 0 0 164.10px;
}

.header_button {
    padding: 24px 165px 0px 0px;
   
}


.button_black {
    display: inline-block;
    border-radius: 28px;
    padding: 14px 32px;
    background: #13183F;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.header-content {
    padding-top: 172px;
}

.inner-content__container{
    display: flex;
}

.content_inner_container {
    display: flex;
    flex-direction: column;
    padding-left: 165px;
    max-height: 359px;
}

.maximize-skill-text{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
}

.body-m-text {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    padding-top: 29px;
}

.orange-btn-container {
}

.get-started-btn{
    display: flex;
    margin-top: 40px;
}

.button-orange {
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    padding: 19px 31px 16px 32px;
    
}

.main {
    flex: 1 1 100vh;
}

.footer{
}

