
[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
}

.wrapper {
    display: flex;
	overflow-x: hidden;
    flex-direction: column;
    min-height: 100%;
}

.header{
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    padding: 4.50px 0 0 164.10px;
}

.header_button {
    padding: 24px 165px;
   
}


.button_black {
    display: inline-block;
    border-radius: 28px;
    padding: 14px 32px;
    background: #13183F;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.main {
    flex: 1 1 100vh;
}

.footer{
}

